<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Item list</title>
    </head>
    <body>
    <h2>List of items</h2>

    <table>
        <tr>
            <th>title</th>
            <th>type</th>
            <th>description</th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.title}">title</td>
            <td th:text="${item.type}">type</td>
            <td th:text="${item.description}">description</td>
        </tr>
    </table>
    </body>
</html>
