<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Test View</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div>
                <h2> I am working! </h2>
                <h4> Front-end side for this app can be found here
                    <a href="https://bb-front-app.herokuapp.com" target="_blank">HERE</a>
                </h4>
            </div>
        </div>
    </body>
</html>
